{% block _oro_authorize_net_credit_card_widget %}
    {% set paymentMethodComponent = options.paymentMethodComponent|default('oroauthorizenet/js/app/components/payment-method-component') %}
    {% set paymentMethodComponentOptions = options.paymentMethodComponentOptions|default({})|merge({paymentMethod: paymentMethod}) %}

    <div class="{{ class_prefix }}-form__payment-methods"
        data-page-component-module="{{ paymentMethodComponent }}"
        data-page-component-options="{{ paymentMethodComponentOptions|json_encode }}">

        <div data-payment-method-form>
            <ul class="{{ class_prefix }}-form__payment-methods-list" aria-label="{{ 'oro_frontend.avaliable_credit_cards.aria_label'|trans }}">
                {% for cc_name in paymentMethodComponentOptions.allowedCreditCards %}
                    <li class="{{ class_prefix }}-form__payment-methods-item" aria-label="{{ cc_name }}">
                        <span class="credit-card-icon credit-card-icon_{{ cc_name }}" aria-hidden="true"></span>
                    </li>
                {% endfor %}
            </ul>
            <div class="{{ class_prefix }}-form__payment-methods-form" data-payment-data-form>
                {% for child in form.children %}
                    {{ form_row(child, {class_prefix: class_prefix}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block _oro_authorize_net_checkout_creditcard_profile_profile_cvv_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' input input--short form-field-CVV2',
        'autocomplete': 'off',
        'minlength': 3,
        'maxlength': 4,
        'data-page-component-view': 'orofrontend/default/js/app/views/fake-masked-input-view'
    }) %}

    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <a href="#"
           data-toggle="tooltip"
           data-title="{{ 'oro.authorize_net.credit_card.tooltip'|trans }}"
           data-html="true"
           data-container="body"
           data-placement="{% if isMobileVersion() %}top{% else %}right{% endif %}"
           data-offset="0, 8px"
        >
        {{ 'oro.authorize_net.credit_card.whats_this'|trans }}
    </a>
{% endblock %}

{% block _oro_authorize_net_checkout_creditcard_profile_profile_cvv_label %}
    <label class="label label--full required" for="{{ id }}">
        {{ label|trans }}<span class="required-symbol" aria-hidden="true">*</span>
    </label>
{% endblock %}

{% block oro_authorize_net_checkout_save_profile_widget %}
    <label class="checkbox-label" for="{{ id }}" >
        <input type="checkbox" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <span>{{ label|trans }}
            <a href="#"
            data-toggle="tooltip"
            data-title="{{ tooltip|trans }}"
            data-container="body"
            >
                <span class="fa fa-question-circle" aria-hidden="true"></span>
            </a>
        </span>
    </label>
{% endblock %}

{% block _oro_authorize_net_checkout_creditcard_profile_widget %}
    {% set paymentMethodComponent = options.paymentMethodComponent|default('oroauthorizenet/js/app/components/payment-method-component') %}
    {% set paymentMethodComponentOptions = options.paymentMethodComponentOptions|default({})|merge({paymentMethod: paymentMethod}) %}

    <div class="{{ class_prefix }}-form__payment-methods"
        data-page-component-module="{{ paymentMethodComponent }}"
        data-page-component-options="{{ paymentMethodComponentOptions|json_encode }}">

        {% set hidePaymentDataForm  = form.profile.vars.value %}

        <div class="grid" data-payment-method-form>
            <div class="grid grid-col-12" data-profile-form>
                <div class="grid-col-7 grid-col-mobile-landscape-12">
                    {{ form_row(form.profile) }}
                </div>
                {% if form.profileCVV is defined %}
                    <div class="grid-col-5 grid-col-mobile-landscape-12 {{ not hidePaymentDataForm ? 'hidden' }}" data-profile-cvv>
                        {{ form_row(form.profileCVV) }}
                    </div>
                {% endif %}
            </div>

            <div class="grid-col-12{{ hidePaymentDataForm ? ' hidden' }}" data-payment-data-form>
                <ul class="{{ class_prefix }}-form__payment-methods-list" aria-label="{{ 'oro_frontend.avaliable_credit_cards.aria_label'|trans }}">
                    {% for cc_name in paymentMethodComponentOptions.allowedCreditCards %}
                        <li class="{{ class_prefix }}-form__payment-methods-item" aria-label="{{ cc_name }}">
                            <span class="credit-card-icon credit-card-icon_{{ cc_name }}" aria-hidden="true"></span>
                        </li>
                    {% endfor %}
                </ul>
                <div class="{{ class_prefix }}-form__payment-methods-form">
                    {% for child in form.paymentData.children %}
                        {{ form_row(child, {class_prefix: class_prefix}) }}
                    {% endfor %}

                    {{ form_row(form.saveProfile) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _oro_authorize_net_checkout_echeck_profile_widget %}
    {% set paymentMethodComponent = options.paymentMethodComponent|default('oroauthorizenet/js/app/components/payment-method-component') %}
    {% set paymentMethodComponentOptions = options.paymentMethodComponentOptions|default({})|merge({paymentMethod: paymentMethod}) %}

    <div class="{{ class_prefix }}-form__payment-methods"
         data-page-component-module="{{ paymentMethodComponent }}"
         data-page-component-options="{{ paymentMethodComponentOptions|json_encode }}">

        {% set hidePaymentDataForm  = form.profile.vars.value %}

        <div class="grid" data-payment-method-form>
            <div class="grid-col-12" data-profile-form>
                {{ form_row(form.profile) }}
            </div>
            <div class="grid-col-12 {{ hidePaymentDataForm ? 'hidden' }}" data-payment-data-form>
                <div class="{{ class_prefix }}-form__payment-methods-form">
                    {% for child in form.paymentData.children %}
                        {{ form_row(child, {class_prefix: class_prefix}) }}
                    {% endfor %}

                    {{ form_row(form.saveProfile) }}
                </div>
            </div>
            <div class="grid-col-12 echeck-confirmation-text">
                {{ form.paymentData.vars.confirmation_text|default('') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _oro_authorize_net_bank_account_widget %}
    {% set paymentMethodComponent = options.paymentMethodComponent|default('oroauthorizenet/js/app/components/payment-method-component') %}
    {% set paymentMethodComponentOptions = options.paymentMethodComponentOptions|default({})|merge({paymentMethod: paymentMethod}) %}

    <div class="{{ class_prefix }}-form__payment-methods"
         data-page-component-module="{{ paymentMethodComponent }}"
         data-page-component-options="{{ paymentMethodComponentOptions|json_encode }}">

        <div data-payment-method-form>
            <div class="{{ class_prefix }}-form__payment-methods-form" data-payment-data-form>
                {% for child in form.children %}
                    {{ form_row(child, {class_prefix: class_prefix}) }}
                {% endfor %}
                <div class="echeck-confirmation-text">
                    {{ confirmation_text|default('') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
